.address-form {
    border: 1px solid lightgray;
    border-radius: 5px;
    max-width: 580px;
    margin: 20px auto;
    color: #00416B;
    font-weight: bold;
    transition-timing-function: ease-in;

    form {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    .form-group {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        flex-wrap: wrap;

        label {
            text-align: left;
            width: 20%;
        }

        input {
            width: 75%;
            border-radius: 5px;
            padding: 5px;
            @media screen and (max-width: 426px) {
                width: 100%;
            }
        }

    }

    .show-map-button {
        margin: 10px auto;
        max-width: 150px;
        font-size: 16px;
    }
    
    .map {
        margin: 0 auto;
        max-width: 1024px;
    }
}
