.address-form {
    border: 1px solid lightgray;
    border-radius: 5px;
    max-width: 580px;
    margin: 20px auto;
    color: #00416B;
    font-weight: bold;
    transition-timing-function: ease-in;

    form {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    .form-group {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        flex-wrap: wrap;

        label {
            text-align: left;
            width: 20%;
            padding: 2px 0;
        }

        input,
        select {
            border: 1px solid lightgray;
            border-radius: 5px;
            color: black;
            padding: 5px;
            width: 100%;
        }

        select {
            background-color: #ebebe4;
        }

    }

    .show-map-button {
        margin: 10px auto;
        max-width: 150px;
        font-size: 16px;
    }
    
    .map {
        margin: 0 auto;
        max-width: 1024px;
    }
}
